html, body {
	height: 100%;
	min-height: 100%;
}

html {
	box-sizing: border-box;
	line-height: 1;
}

body {
	overflow: hidden;
	font-family: Roboto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	position: relative;
}

#GitHubLink {
	position: absolute;
	z-index: 1;
	left: 16px;
	top: 16px;
	opacity: 0.7;
	color: White;
	font-size: 24px;
	text-decoration: none;
	transition-duration: 0.3s;
	transition-property: opacity;
}

#GitHubLink:hover {
	opacity: 0.9;
}

#TextInput {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	bottom: 16px;
	margin: auto;
	width: 512px;
	max-width: 100%;
	outline: none;
	border: none;
	padding: 8px;
	color: Black;
	font-family: inherit;
	font-size: 24px;
	resize: none;
}